@model IEnumerable<SaladBarWeb.Models.DataEntryViewModels.InterventionDayTrayTypeViewModel>

@{
    ViewData["Title"] = "Edit Wave Tray Types";
}

@section Scripts {
    <script></script>
}

<h2>Edit Wave Tray Types</h2>

<div class="row">
    <div class="col-md-6">
        <section>
            <form asp-controller="DataEntry" asp-action="EditInterventionDayTrayTypes" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                @foreach (var item in Model)
                {
                    var interventionDaySelectList = ((IEnumerable<Tuple<string, long, bool>>)ViewBag.InteventionDays)
                            .Select(x => new SelectListItem { Text = $"{x.Item1}", Value = x.Item2.ToString(), Selected = x.Item2 == item.InterventionDayId, Disabled = !x.Item3 });
                    var trayTypesSelectList = ((IEnumerable<SaladBarWeb.Models.DataEntryViewModels.TrayTypeViewModel>)ViewBag.TrayTypes)
                            .Select(x => new SelectListItem { Text = $"{x.Type}", Value = x.Id.ToString(), Selected = x.Id == item.TrayTypeId, Disabled = !x.Active });

                    @Html.Hidden("model.Index", item.Id, new { Id = $"model.Index.{item.Id}" })
                    <div class="well">
                        <div class="form-group">
                            @Html.LabelFor(x => item.InterventionDayId)
                            @Html.DropDownList($"model[{item.Id}].InterventionDayId", interventionDaySelectList, "-- Wave Date --", new { @class = "form-control", Id = $"model[{item.Id}].InterventionDayId" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => item.TrayTypeId)
                            @Html.DropDownList($"model[{item.Id}].TrayTypeId", trayTypesSelectList, "-- Tray Type --", new { @class = "form-control", Id = $"model[{item.Id}].TrayTypeId" })
                        </div>
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox($"model[{item.Id}].Active", item.Active, new { Id = $"model[{item.Id}].Active" }) @Html.DisplayNameFor(x => item.Active)
                            </label>
                        </div>
                        @Html.Hidden($"model[{item.Id}].Id", item.Id, new { Id = $"model[{item.Id}].Id" })
                        @Html.Hidden($"model[{item.Id}].DtCreated", item.DtCreated, new { Id = $"model[{item.Id}].DtCreated" })
                        @Html.Hidden($"model[{item.Id}].CreatedBy", item.CreatedBy, new { Id = $"model[{item.Id}].CreatedBy" })
                    </div>
                }
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>

            </form>
        </section>
    </div>
</div>
